/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Your code starts here! */
/* General styles at the top */
h1 {
  font-size: 65px;
}

button {
  font-size: 17px;
  margin: 2rem 0;
  background: #4b99ad;
  border: none;
  color: #fff;
  padding: 6px 35px;
  outline: none;
}

button:hover {
  background: #4691a4;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

button:active {
  transform: translateY(4px);
}

hr {
  margin: 50px 0;
  border: 1px solid rgba(0, 0, 0, 0.358);
}
p {
  line-height: 1.25;
}
/* page styles in the middle */
.container {
  width: 900px;
  margin: 0 auto;
}

/* Header Style */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

header nav a {
  margin-right: 4rem;
  text-decoration: none;
  color: gray;
}
header img {
  margin-left: auto;
}

/* Header styles Ends Here */

/* Banner Style starts here  */
.banner {
  display: flex;

  justify-content: center;
  align-items: center;
  height: 500px;
}
.banner .getStarted {
  text-align: center;
}
.banner .getStarted h1 {
  width: 46%;
  margin: auto;
}
/* Banner Style Ends here  */

/* Main starts Here */
.fa_wrapper {
  display: flex;
  justify-content: center;
}

.main img {
  margin: 3rem 0;
}

.spv_wrapper {
  display: flex;
  margin-right: 30px;
}
/* Main Ends Here  */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
/* Main Ends Here */

/* Services Starts Here ! */
.services_main {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: space-between;
  flex-flow: wrap;
}
.services_main div {
  border: 1px solid rgba(0, 0, 0, 0.721);
  /* width: 45%; */
  width: 48%;
  margin-bottom: 2rem;
  padding: 18px 15px 0 15px;
  background: rgba(128, 128, 128, 0.215);
}
.services_main div:last-of-type,
.services_main div:nth-of-type(5) {
  margin-bottom: 0;
}
.services_main div p {
  margin-right: 1.5rem;
}
.services_main button {
  border-radius: 5px;
}
.about_services {
  display: flex;
}
.about_services div {
  margin-right: 75px;
}

.about_services div > ul {
  margin-top: 2rem;
}
.about_services div > ul > li {
  margin: 0.5rem 0;
}
.about_services div > ul > li:before {
  content: "✓";
  margin-right: 1rem;
}

.services_title {
  font-size: 2rem;
  margin-top: 2rem;
}
/* Services Ends Here ! */

/* Contact Styling Starts here */

/* Contact Banner style starts Here */
.contact_banner {
  background-image: url("https://images.pexels.com/photos/417382/pexels-photo-417382.jpeg?auto=compress&cs=tinysrgb&h=350");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
.contact_banner div {
  background: rgba(0, 0, 0, 0.446);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.827);
}
.contact_banner div h1 {
  letter-spacing: 1rem;
} /* Contact Banner style starts Here */

/* Contact Main section starts Here */
.contact_main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
} /* Contact Main section Ends Here */
.contact_main div {
  width: 50%;
}
.contact_main div p {
  margin-left: 40px;
}
/* form styling starts here */
.contact_main div .form-style-1 {
  margin: 10px auto;
  max-width: 400px;
  padding: 20px 12px 10px 20px;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
.form-style-1 label {
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold;
}
.form-style-1 input[type="text"],
.form-style-1 input[type="date"],
.form-style-1 input[type="datetime"],
.form-style-1 input[type="number"],
.form-style-1 input[type="search"],
.form-style-1 input[type="time"],
.form-style-1 input[type="url"],
.form-style-1 input[type="email"],
textarea,
select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}
.form-style-1 input[type="text"]:focus,
.form-style-1 input[type="date"]:focus,
.form-style-1 input[type="datetime"]:focus,
.form-style-1 input[type="number"]:focus,
.form-style-1 input[type="search"]:focus,
.form-style-1 input[type="time"]:focus,
.form-style-1 input[type="url"]:focus,
.form-style-1 input[type="email"]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus {
  -moz-box-shadow: 0 0 8px #88d5e9;
  -webkit-box-shadow: 0 0 8px #88d5e9;
  box-shadow: 0 0 8px #88d5e9;
  border: 1px solid #88d5e9;
}
.form-style-1 .field-divided {
  width: 49%;
}

.form-style-1 .field-long {
  width: 100%;
}
.form-style-1 .field-select {
  width: 100%;
}
.form-style-1 .field-textarea {
  height: 100px;
}
.form-style-1 input[type="submit"],
.form-style-1 input[type="button"] {
  background: #4b99ad;
  border: none;
  color: #fff;
  padding: 6px 35px;
}
.form-style-1 input[type="submit"]:hover,
.form-style-1 input[type="button"]:hover {
  background: #4691a4;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.form-style-1 .required {
  color: red;
}
/* form styling starts Ends Here */
/* address section starts here  */
.address_contact {
  margin-left: 2rem;
}
.address_contact img {
  width: 100%;
  height: 300px;
  margin-top: 5rem;
}
/* address section Ends here  */
/* Contact Styling Ends here */
/* desktop */

/* Adding Media Queries for mobile  */

@media (max-width: 599px) {
  .container {
    width: 90%;
  }
  .main img {
    width: 100%;
    height: 120px;
  }

  header .desktop {
    display: none;
  }
  header {
    justify-content: space-between;
  }
  header .menu_hamburger {
    width: 80px;
    margin-left: 0;
  }
  /* Banner style */
  .banner {
    margin-top: 10rem;
    flex-direction: column;
    text-align: center;
  }
  .banner .getStarted h1 {
    width: 70%;
  }
  .banner img {
    width: 300px;
    margin-bottom: 4rem;
  }

  .spv_wrapper,
  .fa_wrapper {
    display: flex;
    flex-direction: column;
  }
  .spv_wrapper div,
  .fa_wrapper div {
    margin-top: 2rem;
  }

  .services_main {
    flex-direction: column;
  }
  /* Services SEction  */
  /* Services Starts Here ! */
  .services_main {
    flex-direction: column;
  }
  .services_main div {
    width: 100%;
    margin-bottom: 3rem;
  }
  .services_main div:last-of-type,
  .services_main div:nth-of-type(5) {
    margin-bottom: 3rem;
  }

  .about_services {
    flex-direction: column;
  }
  .about_services div {
    margin-right: 0;
  }

  .about_services div > ul {
    margin: 3rem 0;
  }
  /* Contact section starts here */

  .contact_banner div {
    background: rgba(0, 0, 0, 0.446);
    height: 100%;
    text-align: center;
    margin: 4rem 0;
  }

  /* Contact Main section starts Here */
  .contact_main {
    flex-direction: column;
  } /* Contact Main section Ends Here */
  .contact_main div {
    width: 100%;
  }
  .contact_main div p {
    margin-left: 20px;
  }
  .address_contact {
    margin-left: 0;
  }

  /* hamburger style */
  a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
  }

  a:hover {
    color: tomato;
  }
  /* Hamburger menu Toggle  */
  #menuToggle {
    display: block;
    position: relative;
    /* top: 50px; */

    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #160909;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  #menu {
    position: absolute;
    width: 300px;
    margin: -00px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }
  /* This is the one that toggle the menu show and hide  */
  #menuToggle input:checked ~ ul {
    transform: none;
  }
}
@media (min-width: 600px) {
  header .mobile {
    display: none;
  }
  header .menu_hamburger {
    display: none;
  }
  .navigation {
    display: none;
  }
}

/* Adding Media Queries for mobile Ends Here */

/* Rules :
  Home Page Refactor:

Note that the provided HTML is blank. This is because I want you to use your code from yesterday if possible. If you didn't finish, that's fine, just use the solution from yesterday

Refactor the home page layout with flexbox where inline-block was used before.

In your navigation elements, point the services <a href=""></a> to services.html



 Services Page Build:

Update the title in your newly copied services page to say Great Idea! - Services

Using the provided design file, create the services page layout using flexbox and box model.

Wrap the great idea logo in an anchor tag and point the href to index.html


Remember, you should continue using box model properties this whole time. Flexbox is only used for bigger layout pieces. You will still need content width, padding, border, and margins to succeed.



Stretch Goals

 Create another page based on one of the navigation items in addition to services. Try to create a layout that follows the patterns of the first two designs but with your own creative twist. Use lorem ipsum text for all your content.

 Introduce media queries into your services page to create a mobile view that stacks all the boxes on top of each other on phone but looks like the layout file on desktop.

*/
